* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  background: #1f2029;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
}

header {
  background-color: #e6af19;
  padding: 15px 0;
}

.logo-img {
  max-width: 50%;
  height: auto;
}

h1 {
  color: white;
}

p {
  color: white;
  padding: 20px;
}

h3 {
  color: white;
}

.reseñas-box {
  padding: 2rem;
  border-radius: .75rem;
  text-align: center;
}

textarea {
  width: 40%;
  background: #F5F5F5;
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: .5rem;
}

.grupo-btns {
  grid-gap: .5rem;
  align-items: center;
}

.grupo-btns {
  padding: .75rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
  justify-content: center;
}

.grupo-btns .btn-publicar {
  text-decoration: none;
  display: inline-block;
  width: auto;
  padding: 15px;
  border: 3px solid black;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: #e6af19;
  transition: all 0.9s;
  text-align: center;
  font-size: 20px;
}

.grupo-btns .btn-borrar {
  text-decoration: none;
  display: inline-block;
  width: auto;
  padding: 15px;
  border: 3px solid black;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: #e6af19;
  transition: all 0.9s;
  text-align: center;
  font-size: 20px;
}

#reviewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  /* Espacio entre las reseñas */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* Estilos para cada reseña individual */
#reviewContainer div {
  width: 300px;
  /* Ancho predeterminado */
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}